.cardGlobal {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  object-fit: cover;
}

.cards {
  border-radius: 16px;
  margin: 22px;
  width: 30vh;
  height: 20vh;
  max-width: 100%;
  min-height: 409px;
  overflow: hidden;
  background-color: #ba916a;
  background-size: cover;
}

.cardImage {
  overflow: hidden;
}

.cardImage img {
  object-fit: cover;
  max-width: 100%;
  display: flex;
  height: 300px;
  margin: auto;
}

.infos:hover {
  transform: scale(0.9);
}

ul {
  list-style-type: none;
}

.infos {
  text-align: left;
  color: #ffffff;
  font-family: "League Spartan", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-left: 22px;
  transition: transform 0.3s ease;
  cursor: pointer;
}
